// ==============================================
// LAYOUT
// ==============================================

// Container
.container {
	max-width: 85%;
	width: 400px;
	margin: 0 auto;
	position: relative;
}

// MAIN HEADER
// Includes the logo, and possible icons (hashtag and profile)
#main-header {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	background: $black;
}

#logo-text {
	@extend .special;
	font-size: 35px;
	letter-spacing: -1px;
	text-align: center;
	padding: 2px 0 0;
	color: #fff;
}

// Menu right
.menu-right {
	position: absolute;
	right: 0;
	top: 8px;

	.icon-settings {
		display: inline-block;
		background: url(../img/settings.png) no-repeat 0 0;
		background-size: cover;
		width: 24px;
		height: 24px;
	}
}

// Menu left
.menu-left {
	position: absolute;
	left: 0;
	top: 8px;

	.icon-user {
		display: inline-block;
		background: url(../img/user.png) no-repeat 0 0;
		background-size: cover;
		width: 24px;
		height: 24px;
	}
}

// SUBHEADER
// Includes info and link to options
#subheader {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;

	h2 {
		@extend .special !optional;
		width: 100%;
		text-align: center;
		font-size: 24px;
		color: $textColor;
		margin: 10px 0;
	}

}

// ==============================================
// MOBILE
// ==============================================