// ==============================================
// LAYOUT
// ==============================================

// MAIN HEADER
// Includes the logo, and possible icons (hashtag and profile)
#main-header {
	position: absolute;
	top: 0;
	height: 40px;
	width: 100%;
}

#logo-text {
	font-size: 35px;
	letter-spacing: -1px;
	text-align: center;
	padding: 25px 0 0;
	font-family: 'Neucha', cursive;
	text-transform: uppercase;
	color: #fff;
}

// Menu right
.menu-right {
	position: absolute;
	right: 15px;
	top: 24px;

	.icon-settings {
		display: inline-block;
		background: url(../img/settings.png) no-repeat 0 0;
		background-size: cover;
		width: 30px;
		height: 30px;
	}
}

// SUBHEADER
// Includes info and link to options
#subheader {

	position: absolute;
	top: 55px;
	width: 100%;

	h2 {
		@extend .regular !optional;
		width: 100%;
		text-align: center;
		font-size: 14px;
		color: #fff;
		margin: 10px 0;
	}

}

// ==============================================
// MOBILE
// ==============================================