// ==============================================
// LAYOUT
// ==============================================

// Container
.container {
	max-width: 85%;
	width: 400px;
	margin: 0 auto;
	position: relative;
}

// MAIN HEADER
// Includes the logo, and possible icons (hashtag and profile)
#main-header {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	background: $black;
}

#logo-text {
	@extend .special;
	font-size: 35px;
	letter-spacing: -1px;
	text-align: center;
	padding: 2px 0 0;
	color: #fff;
	position: relative;

	/**
	&:before {
		content: ' ';
		position: absolute;
		left: -40px;
		display: inline-block;
		background: url(../img/logo_woman.png) no-repeat 0 0;
		width: 40px;
		height: 40px;
		background-size: contain;
	}
	**/
}

// Menu right
.menu-right {
	position: absolute;
	right: 0;
	top: 8px;

	.icon-calendar {
		display: inline-block;
		background: url(../img/calendar.png) no-repeat 0 0;
		background-size: cover;
		width: 24px;
		height: 24px;
		margin-right: 20px;
	}

	.icon-settings {
		display: inline-block;
		background: url(../img/settings.png) no-repeat 0 0;
		background-size: cover;
		width: 24px;
		height: 24px;
	}
}

// Menu left
.menu-left {
	position: absolute;
	left: 0;
	top: 8px;

	.icon-user {
		display: inline-block;
		background: url(../img/user.png) no-repeat 0 0;
		background-size: cover;
		width: 24px;
		height: 24px;
		position: relative;

		.user-language {
			font-size: 9px;
			font-weight: 700;
			font-style: normal;
			background: url(../img/chat.png) no-repeat center;
			background-size: cover;
			width: 20px;
			height: 20px;
			position: absolute;
			right: -14px;
			top: -2px;
			padding: 5px;
			color: #212021; // Not sure why, SCSS doesn't get variable names in this file
		}
	}
}

// SUBHEADER
// Includes info and link to options
#subheader {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;

	h2 {
		@extend .special !optional;
		width: 100%;
		text-align: center;
		font-size: 24px;
		color: $textColor;
		margin: 10px 0;
	}

}

// ==============================================
// MOBILE
// ==============================================