/** RESET **/
* { padding: 0; margin: 0; font-size: 100%; line-height: 1; border: 0; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

html { box-sizing: border-box; }

h2, h3, h4 { font-weight: normal; }

/** ABSTRACTS **/
.helvetica { font-family: helvetica, "Arial", sans-serif; }

.regular, body, h4, p { font-family: 'Raleway', sans-serif; font-weight: 400; }

.bold, h1, h2, h3, .btn, .cards li .title, .cards li .date .day, .cards li .date .hour, .settings .title, .settings .section > .section-title, .settings .select-all, .settings .deselect-all, #settings-popup .save-settings { font-family: 'Raleway', sans-serif; font-weight: bold; }

.special, #logo-text, #subheader h2, .loading, .no-cards, .resume-resume .dates > li > .title { font-family: 'Amatic SC', cursive; font-weight: normal; }

@-moz-keyframes scale { 0% { -moz-transform: scale(0, 0); -o-transform: scale(0, 0); -ms-transform: scale(0, 0); -webkit-transform: scale(0, 0); transform: scale(0, 0); }
  70% { -moz-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
  100% { -moz-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); -webkit-transform: scale(1, 1); transform: scale(1, 1); } }
@-webkit-keyframes scale { 0% { -moz-transform: scale(0, 0); -o-transform: scale(0, 0); -ms-transform: scale(0, 0); -webkit-transform: scale(0, 0); transform: scale(0, 0); }
  70% { -moz-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
  100% { -moz-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); -webkit-transform: scale(1, 1); transform: scale(1, 1); } }
@-o-keyframes scale { 0% { -moz-transform: scale(0, 0); -o-transform: scale(0, 0); -ms-transform: scale(0, 0); -webkit-transform: scale(0, 0); transform: scale(0, 0); }
  70% { -moz-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
  100% { -moz-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); -webkit-transform: scale(1, 1); transform: scale(1, 1); } }
@keyframes scale { 0% { -moz-transform: scale(0, 0); -o-transform: scale(0, 0); -ms-transform: scale(0, 0); -webkit-transform: scale(0, 0); transform: scale(0, 0); }
  70% { -moz-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
  100% { -moz-transform: scale(1, 1); -o-transform: scale(1, 1); -ms-transform: scale(1, 1); -webkit-transform: scale(1, 1); transform: scale(1, 1); } }
@-moz-keyframes bounce { 0% { -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }
  25% { -moz-transform: scale(1.3); -o-transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); transform: scale(1.3); }
  50% { -moz-transform: scale(0.8); -o-transform: scale(0.8); -ms-transform: scale(0.8); -webkit-transform: scale(0.8); transform: scale(0.8); }
  75% { -moz-transform: scale(1.4); -o-transform: scale(1.4); -ms-transform: scale(1.4); -webkit-transform: scale(1.4); transform: scale(1.4); }
  100% { -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); } }
@-webkit-keyframes bounce { 0% { -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }
  25% { -moz-transform: scale(1.3); -o-transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); transform: scale(1.3); }
  50% { -moz-transform: scale(0.8); -o-transform: scale(0.8); -ms-transform: scale(0.8); -webkit-transform: scale(0.8); transform: scale(0.8); }
  75% { -moz-transform: scale(1.4); -o-transform: scale(1.4); -ms-transform: scale(1.4); -webkit-transform: scale(1.4); transform: scale(1.4); }
  100% { -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); } }
@-o-keyframes bounce { 0% { -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }
  25% { -moz-transform: scale(1.3); -o-transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); transform: scale(1.3); }
  50% { -moz-transform: scale(0.8); -o-transform: scale(0.8); -ms-transform: scale(0.8); -webkit-transform: scale(0.8); transform: scale(0.8); }
  75% { -moz-transform: scale(1.4); -o-transform: scale(1.4); -ms-transform: scale(1.4); -webkit-transform: scale(1.4); transform: scale(1.4); }
  100% { -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); } }
@keyframes bounce { 0% { -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }
  25% { -moz-transform: scale(1.3); -o-transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); transform: scale(1.3); }
  50% { -moz-transform: scale(0.8); -o-transform: scale(0.8); -ms-transform: scale(0.8); -webkit-transform: scale(0.8); transform: scale(0.8); }
  75% { -moz-transform: scale(1.4); -o-transform: scale(1.4); -ms-transform: scale(1.4); -webkit-transform: scale(1.4); transform: scale(1.4); }
  100% { -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); } }
/* BASE STYLES */
html, body { height: 100%; overflow: hidden; }

body { background: #f6f6f6; color: #212021; }

h1, h2, h3 { font-size: 38px; line-height: 1.2; }

h4 { font-size: 18px; font-weight: bold; line-height: 1.5; }

p { font-size: 18px; }

hr { display: block; width: 70px; height: 4px; background: rgba(0, 0, 0, 0.1); margin: 10px auto 20px auto; border: 0; }

sup, sub { font-size: 50%; vertical-align: baseline; position: relative; top: -0.70em; left: 0.05em; }

sub { top: 0.4em; }

input { -webkit-appearance: none; border-radius: 0; }

input[type="checkbox"] { -webkit-appearance: checkbox; }

@media (max-width: 767px) { h1, h2, h3 { font-size: 22px; line-height: 1.2; } }
.clear { display: block; clear: both; }

/** LAYOUT **/
.container { max-width: 85%; width: 400px; margin: 0 auto; position: relative; }

#main-header { position: absolute; top: 0; left: 0; height: 40px; width: 100%; background: #212021; }

#logo-text { font-size: 35px; letter-spacing: -1px; text-align: center; padding: 2px 0 0; color: #fff; position: relative; /**
&:before {
	content: ' ';
	position: absolute;
	left: -40px;
	display: inline-block;
	background: url(../img/logo_woman.png) no-repeat 0 0;
	width: 40px;
	height: 40px;
	background-size: contain;
}
**/ }

.menu-right { position: absolute; right: 0; top: 8px; }
.menu-right .icon-settings { display: inline-block; background: url(../img/settings.png) no-repeat 0 0; background-size: cover; width: 24px; height: 24px; }

.menu-left { position: absolute; left: 0; top: 8px; }
.menu-left .icon-user { display: inline-block; background: url(../img/user.png) no-repeat 0 0; background-size: cover; width: 24px; height: 24px; }

#subheader { position: absolute; top: 50px; left: 0; width: 100%; }
#subheader h2 { width: 100%; text-align: center; font-size: 24px; color: #212021; margin: 10px 0; }

.footer { position: relative; top: 10px; }
.footer .dislike, .footer .like, .footer .home { text-decoration: none; color: #212021; }
.footer .dislike { float: left; }
.footer .like { float: right; margin-right: -10px; }
.footer .home { position: absolute; left: 50%; -moz-transform: translate3d(-50%, 0, 0); -o-transform: translate3d(-50%, 0, 0); -ms-transform: translate3d(-50%, 0, 0); -webkit-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); }
.footer .icon { background-repeat: no-repeat; background-position: center; background-size: 18px; border-radius: 50%; width: 32px; height: 32px; display: inline-block; }
.footer .dislike .icon { background-image: url(../img/trash_white.png); background-color: #999; }
.footer .home .icon { background-image: url(../img/home_white.png); background-color: #999; }
.footer .like .icon { background-image: url(../img/heart_white.png); background-color: #BE2625; }
.footer .num { background: #B4CDCD; border-radius: 50%; font-size: 12px; width: 18px; height: 18px; position: relative; top: -25px; right: 12px; display: inline-block; text-align: center; font-style: normal; font-weight: bold; line-height: 1.4; }
.footer .dislike.animate .num, .footer .like.animate .num { -webkit-animation-delay: 0; -webkit-animation-duration: 1s; -webkit-animation-name: bounce; -webkit-animation-fill-mode: forwards; -webkit-animation-iteration-count: 1; -moz-animation-delay: 0; -moz-animation-duration: 1s; -moz-animation-name: bounce; -moz-animation-fill-mode: forwards; -moz-animation-iteration-count: 1; -o-animation-delay: 0; -o-animation-duration: 1s; -o-animation-name: bounce; -o-animation-fill-mode: forwards; -o-animation-iteration-count: 1; animation-delay: 0; animation-duration: 1s; animation-name: bounce; animation-fill-mode: forwards; animation-iteration-count: 1; }

.popup { visibility: hidden; opacity: 0; width: 400px; max-width: 100%; height: 400px; background: #fff; border-radius: 5px; position: fixed; top: 0; left: 0; z-index: 10; border: 3px solid #e6e6e6; box-sizing: border-box; -webkit-transition: all 0.3s ease; }
.popup.active { -webkit-transition: all 0.3s ease; opacity: 1; width: 100% !important; height: 100% !important; top: 0 !important; left: 0 !important; border-radius: 0; }
.popup .popup-close { display: block; position: absolute; bottom: 25px; left: 50%; -moz-transform: translate3d(-50%, 0, 0); -o-transform: translate3d(-50%, 0, 0); -ms-transform: translate3d(-50%, 0, 0); -webkit-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); width: 50px; height: 50px; background: url(../img/close.png) no-repeat; background-color: #B4CDCD; border-radius: 50%; background-size: 50%; background-position: center; border: 3px solid #212021; }

/** HELPERS **/
.srt { clip: rect(1px, 1px, 1px, 1px); position: absolute; margin: 0; padding: 0; }

.srt:focus { background-color: #ffffff; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto; color: #212021; display: block; font-size: 14px; font-weight: bold; height: auto; line-height: normal; padding: 15px 23px 14px; position: absolute; left: 5px; top: 5px; text-decoration: none; text-transform: none; width: auto; z-index: 16; }

@media (max-width: 767px) { #skip-link { display: none; } }
.just-mobile { display: none !important; }

.just-ipad { display: none !important; }

@media (max-width: 980px) { .just-ipad { display: block !important; }
  .hide-portrait { display: none !important; } }
@media (max-width: 767px) { .just-mobile { display: block !important; }
  .hide-mobile { display: none !important; } }
.hidden { display: none !important; }

/** COMPONENTS **/
.btn { -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; display: inline-block; font-size: 16px; line-height: 1.2; padding: 10px 25px 10px 20px; text-decoration: none; text-transform: uppercase; text-align: center; -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75); box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75); }
.btn.btn-main { color: #ffffff; border: 3px solid #ffffff; }
.btn.btn-main:hover, .btn.btn-main:focus { border-color: #212021; }
.btn.btn-main:hover:after, .btn.btn-main:focus:after { left: 12px; }

#viewport { width: 400px; max-width: 85%; margin: 90px auto 0; height: 410px; position: relative; }
#viewport:after { top: 97%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-top-color: #B4CDCD; border-width: 14px; margin-left: -14px; }
#viewport.home:after { left: 50%; }
#viewport.like:after { left: 92.5%; }
#viewport.dislike:after { left: 5%; }

.loading { display: none; background: url(../img/ajax-loader.gif) no-repeat center center #B4CDCD; color: #212021; position: absolute; left: 50%; top: 50%; -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; text-align: center; height: 390px; padding: 145px 20px; box-sizing: border-box; border-radius: 5px; z-index: 0; }

.no-cards { background: #B4CDCD; color: #212021; position: absolute; left: 50%; top: 50%; -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 0; width: 100%; text-align: center; height: 390px; padding: 145px 20px; box-sizing: border-box; border-radius: 5px; }
.no-cards .title { text-transform: uppercase; font-size: 36px; margin-bottom: 10px; display: block; }
.no-cards .message { font-size: 22px; }
.no-cards .icon-settings { display: block; background: url(../img/settings.png) no-repeat 0 0; background-size: cover; width: 30px; height: 30px; margin: 10px auto; }

.cards li { opacity: 0; width: 400px; max-width: 100%; height: 400px; list-style: none; background: #fff; border-radius: 5px; position: absolute; top: 0; left: 0; text-align: center; border: 3px solid #B4CDCD; box-sizing: border-box; cursor: default; padding: 0 10px; -webkit-transition: opacity 0.3s linear; -moz-transition: opacity 0.3s linear; -o-transition: opacity 0.3s linear; transition: opacity 0.3s linear; z-index: 1; }
.cards li.in-deck { visibility: visible; opacity: 1; }
.cards li.in-deck:nth-child(3) { top: 2px; transform: translate(2px, 2px) rotate(0.4deg); }
.cards li.in-deck:nth-child(2) { top: 4px; transform: translate(-4px, -2px) rotate(-1deg); }
.cards li .title { font-size: 24px; width: 100%; padding: 0 15px; text-align: center; display: block; margin: 20px 0 15px; }
.cards li .title.little { font-size: 18px; }
.cards li .image { width: 125px; height: 125px; border-radius: 50%; margin: 10px auto; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.cards li .date .day, .cards li .date .hour { display: block; font-size: 20px; text-align: center; }
.cards li .date .day.little, .cards li .date .hour.little { font-size: 16px; }
.cards li .price { margin: 10px 0; }
.cards li .likes { position: absolute; left: 10px; bottom: 10px; font-size: 12px; }
.cards li .likes:before { content: ' '; display: inline-block; width: 14px; height: 14px; background: url(../img/heart_red.png) no-repeat 0 0; background-size: cover; position: relative; top: 4px; margin-right: 5px; }
.cards li .categories { position: absolute; right: 10px; bottom: 10px; }
.cards li .categories .category { width: 25px; height: 25px; background-position: center center; background-size: contain; background-repeat: no-repeat; display: inline-block; }
.cards li .to-see-more { margin: 10px 0; text-align: center; }
.cards li .to-see-more a { color: #212021; text-decoration: underline; }

.popup .popup-container { height: 83%; overflow-y: scroll; }

.popup .single-event { max-width: 700px; margin: 0 auto; }
.popup .single-event .image { width: 100%; height: 200px; background-repeat: no-repeat; background-position: center center; background-size: cover; margin-bottom: 15px; }
.popup .single-event .title { font-size: 30px; font-weight: bold; padding: 0 20px; }
.popup .single-event .description { margin: 15px 0; font-style: italic; padding: 0 20px; font-size: 14px; }
.popup .single-event .info { padding: 0 20px; }
.popup .single-event .info p { font-size: 12px; margin: 10px 0; }
.popup .single-event .info iframe { max-width: 100%; max-height: 230px; }
.popup .single-event .info ul { padding-left: 15px; }
.popup .single-event .info li { font-size: 12px; }
.popup .single-event .info a { text-decoration: none; font-weight: bold; color: #0e7d8e; }

.resume-single .cards li { opacity: 1; }

.resume-resume { background: #ffffff; overflow: visible; }
.resume-resume #resume { background: #ffffff; border: 4px solid #e6e6e6; margin: 30px; display: inline-block; }
.resume-resume #resume.week { max-width: 800px; -webkit-column-count: 2; /* Chrome, Safari, Opera */ -moz-column-count: 2; /* Firefox */ column-count: 2; }
.resume-resume .dates > li { padding: 10px 20px; display: inline-block; }
.resume-resume .dates > li > .title { text-transform: uppercase; color: #0e7d8e; display: block; margin: 5px 0 10px 0; }
.resume-resume .events > li { list-style: none; margin-top: 5px; font-size: 14px; }
.resume-resume .events > li .category { width: 12px; height: 12px; background-position: center; background-size: 100%; background-repeat: no-repeat; margin-right: 5px; display: inline-block; }
.resume-resume .events > li .image { display: none; }
.resume-resume .events > li .event-title { display: inline; }
.resume-resume .events > li .hour { display: inline-block; color: #666; font-style: italic; }

.resume-resume #resume.not-week .events > li .image { display: inline-block; width: 40px; height: 40px; border-radius: 50%; background-size: cover; background-repeat: no-repeat; background-position: center; vertical-align: middle; margin-right: 5px; }
.resume-resume #resume.not-week .events > li .event-title { font-size: 16px; }

.settings .title { font-size: 20px; text-align: center; margin-top: 20px; text-transform: uppercase; }
.settings .section { padding: 5px 20px; }
.settings .section > .section-title { background: #212021; color: #B4CDCD; border-bottom: 2px solid #B4CDCD; font-size: 14px; margin: 10px 0; padding: 6px 12px; }
.settings ul li { list-style: none; display: inline-block; width: 48%; margin-right: 2%; float: left; margin-bottom: 10px; font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.settings .filter { color: #212021; text-decoration: none; opacity: 0.5; }
.settings .filter.active { opacity: 1; }
.settings .filter.active:before { content: ' '; display: inline-block; background: url(../img/check.png) no-repeat 0 0; background-size: cover; width: 10px; height: 10px; }
.settings .category-image { width: 16px; height: 16px; background-repeat: no-repeat; background-position: center; background-size: 100%; display: inline-block; }
.settings .category-title, .settings .place-name { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-right: 10px; display: inline-block; max-width: 100%; }
.settings .select-deselect > li { margin-bottom: 15px; padding-left: 12px; }
.settings .select-all, .settings .deselect-all { text-decoration: none; color: #212021; }

#settings-popup .save-settings { text-transform: uppercase; background: #B4CDCD; color: #212021; border: 2px solid #212021; padding: 10px 35px; text-decoration: none; position: absolute; bottom: 30px; left: 50%; font-size: 18px; -moz-transform: translate3d(-50%, 0, 0); -o-transform: translate3d(-50%, 0, 0); -ms-transform: translate3d(-50%, 0, 0); -webkit-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); }
#settings-popup .close-settings { text-transform: uppercase; background: url(../img/close.png) center center no-repeat #f6f6f6; color: #212021; border: 2px solid #212021; padding: 10px; text-decoration: none; position: absolute; bottom: 30px; left: 50%; font-size: 18px; -moz-transform: translate3d(-50%, 0, 0); -o-transform: translate3d(-50%, 0, 0); -ms-transform: translate3d(-50%, 0, 0); -webkit-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); height: 42px; background-size: 16px; width: 45px; margin-left: 100px; }
#settings-popup .settings-error { color: #BE2625; text-align: center; font-size: 14px; font-weight: bold; margin: 27px auto; max-width: 250px; display: none; }

.welcome .title { font-family: 'Neucha', cursive; text-transform: uppercase; }
.welcome p { margin: 10px 0; }
.welcome .swipe { float: left; width: 33%; margin: 10px 0 15px; padding: 0 10px; box-sizing: border-box; }
.welcome .swipe .icon-swipe { width: 70px; height: 70px; background: url(../img/flick_left_v2.png) center center no-repeat; background-size: contain; margin: 0 auto 10px; }
.welcome .swipe .swipe-message { font-size: 14px; }
.welcome .swipe.swipe-right .icon-swipe { background-image: url(../img/flick_right_v2.png); }
.welcome .swipe.swipe-center .icon-swipe { background-image: url(../img/flick_center.png); }
.welcome .warning-tmp { font-size: 12px; color: #666; }

/** PRINT **/
.just-print { display: none !important; }

@media print { #print-recipe-image { max-height: 300px; }
  .just-print { display: block; }
  .top-header-container, #header-top, .scroll, footer { display: none; }
  .expandible { display: block !important; }
  .node-type-recipes #recipe-details-full .recipe-description-and-options ul { display: none; }
  .node-type-recipes #collections, .node-type-recipes #featured-in, .node-type-recipes #our-recipes { display: none; } }
/** SHAME **/
/** MEDIA QUERIES **/
