#main-header { position: absolute; top: 0; height: 40px; width: 100%; }

#logo-text { font-size: 22px; text-align: center; padding: 20px 0 0; font-family: 'Neucha', cursive; text-transform: uppercase; color: #fff; }

#subheader { position: absolute; top: 55px; width: 100%; }
#subheader h2 { width: 100%; text-align: center; font-size: 14px; color: #fff; }
