#main-header { position: absolute; top: 0; height: 40px; width: 100%; }

#logo { background: url(../img/logo.png) no-repeat 0 0; background-size: 100%; width: 90px; height: 36px; margin: 10px auto; }

#subheader { position: absolute; top: 55px; width: 100%; }
#subheader h2 { width: 100%; text-align: center; font-size: 14px; }
