// ==============================================
// FONTS
// ==============================================

// Mixin for fonts
@mixin typo($t,$name) {
	@font-face {
		font-family: $name;
		src: url('fonts/#{$t}.eot');
		src: url('fonts/#{$t}.eot?#iefix') format('embedded-opentype'),
		url('fonts/#{$t}.woff') format('woff'),
		url('fonts/#{$t}.ttf') format('truetype'),
		url('fonts/#{$t}.svg##{$name}') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}

// Fontawesome
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.helvetica {
	font-family: helvetica, "Arial", sans-serif;
}

.regular {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.bold {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.special {
	font-family: 'Amatic SC', cursive;
	font-weight: normal;
}
