// ==============================================
// EGO
// ==============================================

.cards li.ego-card {

	// Image Mikel
	.image {
		width: 150px;
		height: 128px;
		border-radius: 0;
	}

	.description {
		padding: 0 20px;

		.highlight {
			font-weight: bold;
			display: block;
			margin: 15px 0;
		}

		p {
			display: block;
			font-size: 14px;
			margin-bottom: 15px;
		}

	}
}