// ==============================================
// CARDS
// ==============================================

// VIEWPORT
#viewport {
	width: 400px;
	max-width: 85%;
	margin: 90px auto 0;
	height: 410px;
	position: relative;

	// No more content
	&:after {
		content: 'Hoy (ya) no \A hay nada (más)';
		@extend .special;
		text-transform: uppercase;
		background: darken($blueBg, 10%);
		color: $white;
		position: absolute;
		left: 50%;
		top: 50%;
		@include X-Y-50();
		font-size: 30px;
		z-index: -1;
		width: 90%;
		text-align: center;
		height: 390px;
		padding: 145px 20px;
		box-sizing: border-box;
		border-radius: 5px;
	}
}

// LIKE/DISLIKE
#viewport {

	.dislike, .like {
		display: none;
		background: url(../img/green_check.png) 0 0 no-repeat #fff;
		width: 256px;
		height: 256px;
		position: absolute;
		top: 50%;
		left: 50%;
		@include X-Y-50();
		pointer-events: none;
		opacity: 0;
		border-radius: 100%;
		transform-origin: center center;
		-webkit-transform-origin: center center;
	}

	.dislike {
		background-image: url(../img/red_cross.png);
	}
}

// CARDS
// Cards container
.cards li {
	width: 400px;
	max-width: 100%;
	height: 400px;
	list-style: none;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 300px;
	text-align: center;
	border: 3px solid $lineColor;
	box-sizing: border-box;
	cursor: default;
	padding: 0 10px;

	// Change slightly position to background cards
	&.in-deck:nth-child(3) { top: 2px; transform: translate(2px, 2px) rotate(0.4deg); }
	&.in-deck:nth-child(2) { top: 4px; transform: translate(-4px, -2px) rotate(-1deg); }

	// Title
	.title {
		@extend .bold;
		font-size: 25px;
		width: 100%;
		padding: 0 15px;
		text-align: center;
		display: block;
		margin: 20px 0 15px;

		&.little {
			font-size: 18px;
		}
	}

	.image {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		margin: 10px auto;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.date {

		.day, .hour {
			@extend .bold;
			display: block;
			font-size: 20px;
			text-align: center;

			&.little {
				font-size: 16px;
			}
		}

	}

	.price {
		margin: 10px 0;
	}

	.place {

	}

	.categories {
		position: absolute;
		right: 10px;
		bottom: 10px;

		.category {
			width: 25px;
			height: 25px;
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			display: inline-block;

		}
	}

	.to-see-more {
		margin: 10px 0;
		text-align: center;
		a {
			color: $fontColor;
			text-decoration: underline;
		}
	}
}
