// ==============================================
// RESUME
// ==============================================
// Used for Twitter bot
// Single (we'll use the same style as a card)
.resume-single {

	.cards li {
		opacity: 1;
	}

}

// Resume (we'll use a list)
.resume-resume {

	background: $white;
	overflow: visible;

	// Container for PhantomJS
	#resume {
		background: $white;
		border: 4px solid $mediumGrey;
		margin: 30px;
		display: inline-block;

		// Multiple days
		&.week {
			max-width: 800px;
			-webkit-column-count: 2; /* Chrome, Safari, Opera */
			-moz-column-count: 2; /* Firefox */
			column-count: 2;
		}
	}

	// Date block
	.dates > li {
		padding: 10px 20px;
		display: inline-block;

		// Date block title: LUNES 05 DE ENERO
		> .title {
			@extend .special;
			text-transform: uppercase;
			color: $blueBg;
			display: block;
			margin: 5px 0 10px 0;
		}
	}

	// EVENT ITEM
	.events > li {
		list-style: none;
		margin-top: 5px;
		font-size: 14px;

		// CATEGORY
		.category {
			width: 12px;
			height: 12px;
			background-position: center;
			background-size: 100%;
			background-repeat: no-repeat;
			margin-right: 5px;
			display: inline-block;
		}

		// IMAGE (JUST SHOWN FOR NOT WEEK RESUMES)
		.image {
			display: none;
		}

		// TITLE
		.event-title {
			display: inline;
		}

		// HOUR
		.hour {
			display: inline-block;
			color: $darkGrey;
			font-style: italic;
		}

	}

}

// NOT WHOLE WEEK
// BIGGER FONTS AND IMAGES
.resume-resume {

	#resume.not-week {

		.events > li {

			.image {
				display: inline-block;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				vertical-align: middle;
				margin-right: 5px;
			}

			.event-title {
				font-size: 16px;
			}

		}

	}
}