// ==============================================
// RIBBONS
// ==============================================

$greenRibbon: #79A70A; // Default color

.cards li.uses-ribbon {
	overflow: visible;
}

.ribbon {
	position: absolute;
	left: -5px; top: -5px;
	z-index: 1;
	overflow: hidden;
	width: 75px; height: 75px;
	text-align: right;

	span {
		font-size: 10px;
		font-weight: bold;
		color: #FFF;
		text-transform: uppercase;
		text-align: center;
		line-height: 20px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		width: 100px;
		display: block;
		background: $greenRibbon;
		box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
		position: absolute;
		top: 19px; left: -21px;

		&:before {
			content: "";
			position: absolute; left: 0; top: 100%;
			z-index: -1;
			border-left: 3px solid darken($greenRibbon, 20%);
			border-right: 3px solid transparent;
			border-bottom: 3px solid transparent;
			border-top: 3px solid darken($greenRibbon, 20%);
		}

		&:after {
			content: "";
			position: absolute; right: 0; top: 100%;
			z-index: -1;
			border-left: 3px solid transparent;
			border-right: 3px solid darken($greenRibbon, 20%);
			border-bottom: 3px solid transparent;
			border-top: 3px solid darken($greenRibbon, 20%);
		}
	}
}