// ==============================================
// SETTINGS
// ==============================================

.settings {

	// Popup title
	.title {
		@extend .bold;
		font-size: 20px;
		text-align: center;
		margin-top: 20px;
		text-transform: uppercase;
	}

	// Filter sections
	.section {
		padding: 5px 20px;

		>.section-title {
			background: $black;
			color: $auxiliarColor;
			border-bottom: 2px solid $auxiliarColor;
			@extend .bold;
			font-size: 14px;
			margin: 10px 0;
			padding: 6px 12px;
		}
	}

	// Options
	ul li {
		list-style: none;
		display: inline-block;
		width: 48%;
		margin-right: 2%;
		float: left;
		margin-bottom: 10px;
		font-size: 12px;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	// Message
	.settings-message {
		font-weight: bold;
		text-align: center;
		margin: 20px 0 0;
	}

	// Filters
	.filter {
		color: $fontColor;
		text-decoration: none;
		opacity: 0.5;

		&.active {
			opacity: 1;

			&:before {
				content: ' ';
				display: inline-block;
				background: url(../img/check.png) no-repeat 0 0;
				background-size: cover;
				width: 10px;
				height: 10px;
			}
		}
	}

	// Categories
	.category-image {
		width: 16px;
		height: 16px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		display: inline-block;
	}

	.category-title,
	.place-name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-right: 10px;
		display: inline-block;
		max-width: 35vw;
	}

	// SELECT / DESELECT
	.select-deselect>li {
		margin-bottom: 15px;
		padding-left: 12px;
	}

	.select-all,
	.deselect-all {
		text-decoration: none;
		color: $fontColor;
		@extend .bold;
	}

	// BIG OPTIONS
	.option-50 {

		float: left;
		width: 50%;
		text-align: center;
		margin-top: 20px;
	}

	// Language selector
	.select-language {
		font-size: 20px;
		color: #ccc;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;

		&.active {
			color: #444;

			&:after {
				content: ' ';
				background: url(../img/green_check.png) no-repeat center center;
				background-size: cover;
				width: 30px;
				height: 30px;
				position: absolute;
				left: 50%;
				@include translateX(-50%);
				bottom: -35px;
			}
		}
	}

}

.settings-popup {

	// SAVE SETTINGS
	.save-settings {
		text-transform: uppercase;
		background: $auxiliarColor;
		color: $black;
		border: 2px solid $black;
		@extend .bold;
		padding: 10px 35px;
		text-decoration: none;
		position: absolute;
		bottom: 30px;
		left: 50%;
		font-size: 18px;
		@include X-50();
	}

	.close-settings {

		text-transform: uppercase;
		background: url(../img/close.png) center center no-repeat $lightGrey;
		color: $black;
		border: 2px solid $black;
		padding: 10px;
		text-decoration: none;
		position: absolute;
		bottom: 30px;
		left: 50%;
		font-size: 18px;
		@include X-50();
		height: 42px;
		background-size: 16px;
		width: 45px;
		margin-left: 100px;
	}

	.settings-error {
		color: $red;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		margin: 27px auto;
		max-width: 250px;
		display: none;
	}
}