// ==============================================
// WELCOME
// ==============================================

.welcome {

	.title {
		font-family: 'Neucha', cursive;
		text-transform: uppercase;
	}

	p {
		margin: 10px 0;
	}

	.swipe {
		float: left;
		width: 33%;
		margin: 10px 0 15px;
		padding: 0 10px;
		box-sizing: border-box;

		.icon-swipe {
			width: 70px;
			height: 70px;
			background: url(../img/flick_left_v2.png) center center no-repeat;
			background-size: contain;
			margin: 0 auto 10px;
		}

		.swipe-message {
			font-size: 14px;
		}

		&.swipe-right {
			.icon-swipe { background-image: url(../img/flick_right_v2.png); }

			&.swipe-desktop .icon-swipe { background-image: url(../img/flick_right_desktop.png); }
		}

		&.swipe-center {
			.icon-swipe { background-image: url(../img/flick_center.png); }
		}

		&.swipe-left {
			&.swipe-desktop .icon-swipe { background-image: url(../img/flick_left_desktop.png); }
		}

	}

	.warning-tmp {
		font-size: 12px;
		color: $darkGrey;
	}
}